{% load static %}
<style>
  .reclama {text-align:  center;}
  .ad {display: flex; justify-content: сenter;}
  body{ background-color: rgb(150, 208, 221);}
 </style>
<header>
  <div class="ad">
    <a href="https://rb.ru/opinion/bannernaya-reklama/" class="reclama"><img src="/static/images/baner3.jpeg" alt="Landing Page"/></a>
  </div>
  <hr>
  <br>
<a href="/">Home</a> | <a href="/">Home</a> | <a href="/">Home</a>
</header>
{% block content %} {% endblock content %}
<footer>
  <div class="ad">
    <a href="https://rb.ru/opinion/bannernaya-reklama/" class="reclama"><img src="\static\images\baner3.jpeg" alt="Landing Page" /></a>
  </div>
      <hr>
    <h2>© 2023 LomovVladislavProduction</h2>
  </footer>