{% load static %}
<style>
  .reclama {text-align:  center;}
  .ad {display: flex; justify-content: сenter;}
  body{ background-color: rgb(150, 208, 221);}
 </style>
<header>
  <div class="ad">
    {% for banner in active_banners %}
      <a href="https://rb.ru/opinion/bannernaya-reklama/" class="reclama"><img src="{{banner.banner_file.url}}" alt="{{ banner.name }} banner" /></a>
    {% endfor %}
  </div>
  <hr>
  <br>
<a href="/">Home</a> | <a href="/">Home</a> | <a href="/">Home</a>
</header>
{% block content %} {% endblock content %}
<footer>
  <div class="ad">
    {% for banner in active_banners %}
      <a href="https://rb.ru/opinion/bannernaya-reklama/" class="reclama"><img src="{{banner.banner_file.url}}" alt="{{ banner.name }} banner" /></a>
    {% endfor %}
  </div>
      <hr>
    <h2>© 2023 LomovVladislavProduction</h2>
  </footer>